<!DOCTYPE html>
<html> 
 <head>
 <title>Accueil</title>
 </head>
 <body>
 <h1>Restaurant</h1>
 <p>
    Guide michelin ... trouver un restaurant
 </p>

 <ul>
 <li><a href="{{ path('guide_restaurant') }}">Restaurant</a></li>
 <li><a href="{{ path('guide_chef') }}">Chef</a></li>
 <li><a href="{{ path('guide_plat') }}">Plat</a></li>
 </ul>
 
 </body>
 
</html>